<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet"
        href="https://unpkg.com/frappe-gantt/dist/frappe-gantt.css">
</head>

<body>

  <div id="gantt"></div>

  <!-- LOAD LIBRARY FIRST -->
  <script src="https://unpkg.com/frappe-gantt/dist/frappe-gantt.js"></script>

  <!-- THEN YOUR SCRIPT -->
  <script>
    const tasks = {{ gantt_tasks | tojson }};
    console.log("GANTT TASKS", tasks);

    new Gantt("#gantt", tasks, {
      view_mode: "Day",
      date_format: "YYYY-MM-DD"
    });
  </script>

</body>
</html>
